<!-- Start Footer -->
<footer class="usa-footer usa-footer-big" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#main-content">Return to top</a>
    </div>

    <div class="usa-footer-basic">
        <div class="usa-grid">
            <div class="usa-footer-logo usa-width-one-half">
                <h5 class="usa-footer-logo-heading">
                    <img
                        class="usa-footer-logo-img"
                        src="{{ site.baseurl }}/assets/img/logo-omb.png"
                        height="40px"
                        alt="Logo image"
                    />&nbsp;&nbsp;<a href="https://www.whitehouse.gov/omb/">Office of Management and Budget</a>
                </h5>
                <br />
                <h5 style="margin-top: 0" class="usa-footer-logo-heading">
                    <img
                        class="usa-footer-logo-img"
                        src="{{ site.baseurl }}/assets/img/logo-cdo.png"
                        height="40px"
                        alt="Logo image"
                    />&nbsp;&nbsp;<a href="https://www.cdo.gov">CDO Council</a>
                </h5>
                <br />
                <h5 style="margin-top: 0" class="usa-footer-logo-heading">
                    <img
                        class="usa-footer-logo-img"
                        src="{{ site.baseurl }}/assets/img/logo-gsa.png"
                        height="40px"
                        alt="Logo image"
                    />&nbsp;&nbsp;<a href="https://www.gsa.gov">General Services Administration</a>
                </h5>
                <h5 style="margin-top: 0">&nbsp;</h5>
            </div>

            <div class="usa-footer-contact-links usa-width-one-half">
                <h5>Contact the OMB FDS Team:<br /><a href="mailto:datastrategy@omb.eop.gov">datastrategy@omb.eop.gov</a></h5>
                <h5>Website managed by:<br /><a href="https://www.gsa.gov/tts">GSA Technology Transformation Services</a></h5>
                <h5>
                    For Website Issues:<br /><a href="https://github.com/GSA/data-strategy/issues">Report a bug on GitHub</a>
                </h5>
            </div>
        </div>
    </div>
</footer>
<div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,,,">
        <div class="usa-identifier__container">
            <div class="usa-identifier__identity" aria-label="Agency description">
                <p class="usa-identifier__identity-domain">strategy.data.gov</p>
                <p class="usa-identifier__identity-disclaimer">
                    An official website of the Office of Management and Budget, the CDO Council and the General Services
                    Administration.
                </p>
            </div>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,,,">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item">
                    <a href="//www.whitehouse.gov/omb/" class="usa-identifier__required-link usa-link">About OMB</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="//www.gsa.gov/website-information/website-policies#accessibility"
                        class="usa-identifier__required-link usa-link"
                        >Accessibility support</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="//www.gsa.gov/reference/freedom-of-information-act-foia"
                        class="usa-identifier__required-link usa-link"
                        >FOIA requests</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="//www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
                        class="usa-identifier__required-link usa-link"
                        >No FEAR Act data</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="//www.gsaig.gov" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="//www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link"
                        >Performance reports</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a
                        href="//www.gsa.gov/website-information/website-policies#privacy"
                        class="usa-identifier__required-link usa-link"
                        >Privacy policy</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="//github.com/GSA/data-strategy/issues" class="usa-identifier__required-link usa-link"
                        >Report a bug</a
                    >
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="://www.gsa.gov/tts" class="usa-identifier__required-link usa-link">Website Managed by TTS</a>
                </li>
            </ul>
        </div>
    </nav>
    <section
        class="usa-identifier__section usa-identifier__section--usagov"
        aria-label="U.S. government information and services,,,"
    >
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
            <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
        </div>
    </section>
</div>
</body>
</html>
