            <a class="skipnav" href="#main-content">Skip main navigation</a>

            <header role="banner" class="fixed-header">
                <div class="usa-disclaimer">
                    <div class="usa-grid">
                        <span class="usa-disclaimer-official"><img class="usa-flag_icon" alt="U.S. flag signifying that this is a United States federal government website" src="/assets/img/us_flag_small.png"> An official website of the United States government</span> <span class="usa-disclaimer-stage">This site is a work in progress</span>
                    </div>
                </div>
                <a href="" class="logo-collapsed"><h1>Data Strategy</h1></a>

                <nav class="site-navbar nav-collapse">
                  <ul class="usa-unstyled-list">
                    <li class="nav-item">
                      <a href="/">Nav 1</a>
                    </li>
                    <li class="nav-item">
                      <a href="/">Nav 2</a>
                    </li>
                    <li class="nav-item">
                      <a href="/">Nav 3</a>
                    </li>
                    <li class="nav-item">
                      <a href="/">Nav 4</a>
                    </li>
                  </ul>
                </nav>

            </header>
