.usa-logo#extended-logo {
  margin : 10px 0;
}

.data-strategy-logo {
  display : block;
  float : left;
}

.data-strategy-logo {
  width : 150px; 
  height : 150px; 
}

.usa-logo-text {
  width : 800px;
  padding-top : 60px;
  padding-left : 175px;
}

.news.usa-content {
  padding-top : 0;
}

.news.usa-content ul.h-feed {
  max-width : 100%;
  list-style-type: none;
  padding : 0;
}

.news.usa-content ul.h-feed h1 {
  font-size : 1.75em;
}

.news.usa-content ul.h-feed a {
  color : #000;
}

.news.usa-content ul.h-feed a:hover {
  text-decoration: none;
}

.news h1.p-name {
  margin-bottom : 0;
}

.post-body h2 {
  margin-bottom : 0;
}

.post-body .dt-published {
  margin-bottom : 2.5rem;
}

.usa-footer-logo-heading {
    padding : 0;
}

.usa-hero.incubator {
    background-image : none; 
    background-color: #fff;
}

.usa-hero.incubator .usa-grid {
    background-image: url("/assets/img/incubator-bg.png");
    background-repeat: no-repeat;
    height : 188px;
}

.beta-disclaimer {
    color : red; 
    float : left;
}

.usa-hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("/assets/img/hero.jpg");
  background-position: center;
  background-size: cover; }
  .usa-hero .usa-button {
    color: #ffffff; }

.footer-logo-row {
  display : table-cell;
}

.usa-media_block-img.svg-icon {
  width : 3.3rem;
}

.usa-section-dark .areas-heading {
  color : #fff;
  margin-bottom : 4rem;
}

.comment-disclaimer {
  font-size : .8em;
}

.usa-footer-basic {
  background-color: #f1f1f1;
}

.usa-hero.timeline {
    background-image: url("/assets/img/timeline-vertical.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1B2F4B;
}

.timeline .usa-grid {
    height : 400px;
}

.dataTables_filter label input[type="search"] {
 border-right : 1px solid #000;
  display : block;
  float : right;
  margin-top : -5px;
  width : 20em;
}

.dataTables_filter label {
padding-top : 1em;
margin-top : 0;
}

#my-table_wrapper #my-table_length label {
  display: inline;
  margin-top : 0;
}

#my-table_wrapper #my-table_length select {
 display : inline;
  width : 5em;
}

#fba-modal {
   z-index: 9001 !important;
}

#fba-overlay.is-active{ position: fixed;bottom: 0;top: 0;left: 0;right: 0;background-color: rgba(0,0,0,.25);transition: background-color .25s;z-index: 1000;}
#fba-modal{z-index: 1001;position: fixed;top:0;left: 0;right: 0;overflow-x:auto;padding:20px;}
#fba-modal-dialog{max-width: 500px;background: #fff;padding:20px;position:relative;margin:0 auto;}
#fba-modal-title {margin-top: 0;margin-right: 20px;margin-bottom:20px;font-size:2.5rem;}
#fba-text-name,#fba-text-email{max-width:100%!important;font-size:100%}
#fba-modal-close{position: absolute;top:0;right:0;padding:10px;font-size: 24px;color: #5b616b;background: none;line-height: 1;text-decoration: none;width: auto;}
#feedback-form fieldset {margin: 1rem 0; }
#feedback-form p {margin: 1rem 0;}
#feedback-form label {display:block;margin-top: 01rem;}
#feedback-form input {margin-bottom: 1.5rem; width: 75%;}
#feedback-form #fba-submit {width: auto;}

@media screen and (min-width: 700px) {

  .usa-hero.timeline {
      background-image: url("/assets/img/timeline.svg");
  }

  .timeline .usa-grid {
      height : 188px;
  }

}