---
layout: default
---

<main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">

{% unless page.nav == "hide"  %}
<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    
<nav>
  <ul class="usa-sidenav-list">


  <li>
    <a href="#draft-action-steps" class="usa-current">
      Draft Action Plan
    </a>
    
    <ul class="usa-sidenav-sub_list">
      
  
  <li>
    <a href="#shared-actions-government-wide-data-services" class="action-plan-subheader">
      Shared Actions: Government-wide Data Services
    </a>
    
    <ul class="usa-sidenav-sub_list">

	  <li>
	    <a href="#action-1-create-an-omb-data-council">
	      Action 1: Create an OMB Data Council
	    </a>
	  </li>

	  <li>
	    <a href="#action-2-develop-a-curated-data-science-training-and-credentialing-catalog">
	      Action 2: Develop a Curated Data Science Training and Credentialing Catalog
	    </a>
	  </li>

	  <li>
	    <a href="#action-3-develop-a-data-ethics-framework">
	      Action 3: Develop a Data Ethics Framework
	    </a>
	  </li>	  

	  <li>
	    <a href="#action-4-develop-a-data-protection-toolkit">
	      Action 4: Develop a Data Protection Toolkit
	    </a>
	  </li>	

	  <li>
	    <a href="#action-5-develop-a-repository-of-federal-data-strategy-resources-and-tools">
	      Action 5: Develop a Repository of Federal Data Strategy Resources and Tools
	    </a>
	  </li>	

	  <li>
	    <a href="#action-6-pilot-a-one-stop-standard-research-application">
	      Action 6: Pilot a One-stop Standard Research Application
	    </a>
	  </li>	

	  <li>
	    <a href="#action-7-pilot-an-automated-inventory-tool-for-datagov">
	      Action 7: Pilot an Automated Inventory Tool for Data.gov
	    </a>
	  </li>	

	  <li>
	    <a href="#action-8-pilot-standard-data-catalogs-for-datagov">
	      Action 8: Pilot Standard Data Catalogs for Data.gov
	    </a>
	  </li>	

    </ul>

  </li>
  
  <li>
    <a href="#community-actions-cross-agency-collaboration" class="action-plan-subheader">
      Community Actions: Cross-Agency Collaboration
    </a>
    
    <ul class="usa-sidenav-sub_list">

	  <li>
	    <a href="#action-9-improve-data-resources-for-ai-research-and-development">
	      Action 9: Improve Data Resources for AI Research and Development
	    </a>
	  </li>

	  <li>
	    <a href="#action-10-improve-financial-management-data-standards">
	      Action 10: Improve Financial Management Data Standards
	    </a>
	  </li>

	  <li>
	    <a href="#action-11-improve-geospatial-data-standards">
	      Action 11: Improve Geospatial Data Standards
	    </a>
	  </li>	  
	  	  
    </ul>


  </li>
  
  <li>
    <a href="#agency-specific-actions-agency-activities" class="action-plan-subheader">
      Agency-Specific Actions: Agency Activities
    </a>
    
    <ul class="usa-sidenav-sub_list">

	  <li>
	    <a href="#action-12-constitute-a-diverse-data-governance-body">
	      Action 12: Constitute a Diverse Data Governance Body
	    </a>
	  </li>

	  <li>
	    <a href="#action-13-assess-data-and-related-infrastructure-maturity">
	      Action 13: Assess Data and Related Infrastructure Maturity
	    </a>
	  </li>

	  <li>
	    <a href="#action-14-identify-opportunities-to-increase-staff-data-skills">
	      Action 14: Identify Opportunities to Increase Staff Data Skills
	    </a>
	  </li>	  

	  <li>
	    <a href="#action-15-identify-data-needs-to-answer-key-agency-questions">
	      Action 15: Identify Data Needs to Answer Key Agency Questions
	    </a>
	  </li>	

	  <li>
	    <a href="#action-16-identify-priority-datasets-for-agency-open-data-plans">
	      Action 16: Identify Priority Datasets for Agency Open Data Plans
	    </a>
	  </li>	


    </ul>

  </li>
   

  </ul>
</nav>

  </aside>
{% endunless %}

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    {{ content }}
  </div>
</main>
