{% include head.html %}

{% include header.html %}


<main id="main-content">

  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2>
            <span class="usa-hero-callout-alt">The Federal Data Strategy</span>
            We Need Your Input
        </h2>
        <ol>
            <li><a href="https://strategy.data.gov/feedback/">Comment</a> on draft <a href="https://strategy.data.gov/practices">practices</a> by November 18, 2018</li>
            <li>Speak at, or attend, the <a href="https://bipartisanpolicy.org/events/public-forum-promising-practices-for-the-federal-governments-data-strategy/">Public Forum</a> on November 8, 2018</li>
            <li>Speak at, or attend, the <a href="https://www.eventbrite.com/e/november-federal-forum-on-the-federal-data-strategy-tickets-51480242792">Federal Forum</a> on November 13, 2018 (must have federal ID to attend)</li>
        </ol>
      </div>
    </div>
  </section>


 {{ content }} 


</main>

{% include footer.html %}
