{% include head.html %}

{% include header.html %}


<main id="main-content">

  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2>
            <span class="usa-hero-callout-alt">The Federal Data Strategy</span>
            Join the Team
        </h2>
        <p>
          Apply to be a Working Group Member or Detailee and help create a coordinated approach to federal data use and management. <a href="{{ site.baseurl }}/news/2019/07/02/call-for-federal-data-strategy-working-members/"> Working Group Members </a> and <a href="{{ site.baseurl }}/news/2019/07/18/call-for-federal-data-strategy-detailees/"> Detailees </a> apply now!
        </p>
      </div>
    </div>
  </section>


 {{ content }} 


</main>

{% include footer.html %}
