{% include head.html %}

{% include header.html %}


<main id="main-content">

  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2>
            <span class="usa-hero-callout-alt">The Federal Data Strategy</span>
            We Need Your Input
        </h2>
        <p>
          The Federal Data Strategy will create a coordinated approach to federal data use and management that serves the public. To accomplish this, we need your input.
        </p>
      </div>
    </div>
  </section>

  <section class="usa-grid usa-section">
    
    <h2>What is the Federal Data Strategy? </h2>

    <p>
   Th​e use of data is transforming​ ​​the world. The way the United States federal government provides, maintains, and uses data has a unique place in society and maintaining trust in​ ​​federal data is pivotal to a democratic process. The​ ​​federal​ ​government needs a coordinated and integrated approach to using data to deliver on mission, serve the public, and steward resources while respecting privacy and confidentiality. 
    </p>

    <p>
      The Federal Data Strategy will define​ ​Principles, Practices, and a Year 1 Action Plan to deliver​ ​a ​more consistent​ ​approach to federal data stewardship, use,​ ​and access. The Federal Data Strategy development team will also test solutions and assumptions along the way with The Data Incubator Project, which​ ​​will ​help identify priority use cases and methods that should be replicated or scaled. 
    </p>
    
  </section>

  <section class="usa-section usa-section-dark usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <h2 class="areas-heading">The four Federal Data Strategy areas for exploration</h2>
    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img svg-icon"  src="/assets/img/icons/enterprise-data-governance.svg" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Enterprise Data Governance</h3>
        <p>Set priorities for managing government data as a strategic asset, including establishing data policies, specifying roles and responsibilities for data privacy, security, and confidentiality protection, and monitoring compliance with standards and policies throughout the information lifecycle. 
        </p>
      </div>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img svg-icon"  src="/assets/img/icons/access-use-augmentation.svg" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Access, Use, and Augmentation</h3>
        <p>
          Develop policies and procedures that enable stakeholders to effectively and efficiently access and use data assets by: (1) making data available more quickly and in more useful formats; (2) maximizing the amount of non-sensitive data shared with the public; (3) leveraging new technologies and best practices to increase access to sensitive or restricted data while protecting privacy, security, and confidentiality, as well as the interests of data providers.
        </p>
      </div>
    </div>
  </div>
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img svg-icon"  src="/assets/img/icons/decision-making-accountability.svg" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Decision Making &amp; Accountability</h3>
        <p>
          Improve the use of data assets for decision-making and accountability for the Federal Government, including both internal and external uses. This includes: (1) providing high quality and timely information to inform evidence-based decision-making and learning; (2) facilitating external research on the effectiveness of government programs and policies which will inform future policymaking; and (3) fostering public accountability and transparency by providing accurate and timely spending information, performance metrics, and other administrative data.
        </p>
      </div>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img svg-icon"  src="/assets/img/icons/commercialization-innovation-public-use.svg" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Commercialization, Innovation, and Public Use</h3>
        <p>
          Facilitate the use of Federal Government data assets by external stakeholders at the forefront of making government data accessible and useful through commercial ventures, innovation, or for other public uses. This includes use by the private sector and scientific and research communities, by state and local governments for public policy purposes, for education, and in enabling civic engagement. Enabling external users to access and use government data for commercial and other public purposes spurs innovative technological solutions and fills gaps in government capacity and knowledge. Supporting the production and dissemination of comprehensive, accurate, and objective statistics on the state of the nation helps businesses and markets operate more efficiently.

        </p>
      </div>
    </div>
  </div>
</section>


  <section class="usa-section">
    <div class="usa-grid">

      {{ content }}

    </div>
  </section>

</main>

{% include footer.html %}
