{% include head.html %}

{% include header.html %}


<main id="main-content">

  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2>
            <span class="usa-hero-callout-alt">Federal Data Strategy</span>
            Leveraging Data as a Strategic Asset
        </h2>
        <p>The 2020 Action Plan is designed to be cross-cutting and to support agencies in fulfilling a wide array of legislative and administrative requirements, while also prioritizing foundational activities for agencies in developing a mature data asset management environment. Read the <a href="{{ site.baseurl }}/action-plan/">plan</a>.
        </p>
      </div>
    </div>
  </section>


 {{ content }} 


</main>

{% include footer.html %}
