{% include head.html %}

{% include header.html %}


<main id="main-content">

  <section class="usa-section usa-section-dark">
  <div class="usa-grid">
    <h1>Federal Open Data Policy and Standards</h1>
      <p>Guidance, standards, and policy resources for federal data managers, Chief Data Officers, and agency leadership. Managed by GSA's Technology Transformation Services in coordination with OMB and the CDO Council.</p>
    </div>
  </section>
  


 {{ content }} 


</main>

{% include footer.html %}
