{% include head.html %}

{% include header.html %}


<main id="main-content">

  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2>
            <span class="usa-hero-callout-alt">Federal Data Strategy</span>
            Leveraging Data as a Strategic Asset
        </h2>
        <p>The mission of the Federal Data Strategy is to leverage the full value of Federal data for mission, service, and the public good by guiding the Federal Government in practicing ethical governance, conscious design, and a learning culture. Subscribe to our <a href="https://www.performance.gov/CAP/CAP_goal_2.html#GD-snippet-form">news updates</a>.
        </p>
      </div>
    </div>
  </section>


 {{ content }} 


</main>

{% include footer.html %}
