{% include head.html %}

{% include header.html %}


<main id="main-content">
  
  <section class="usa-grid usa-section">
    <div class="usa-width-one-third">
      <h2>Submit Your Use Cases for the Data Incubator Project</h2>
    </div>
    <div class="usa-width-two-thirds">
      <p>
        To solve the most pressing issues facing the nation, we must leverage data as a strategic asset. The United States Federal Data Strategy seeks to replicate, scale, and prioritize key data use cases to serve the public.

      </p>

    </div>
  </section>
  

  <section class="usa-section usa-section-dark usa-graphic_list">

  <div class="usa-grid usa-graphic_list-row">

    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img"  src="/assets/img/icons/economic-development.png" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Economic Development</h3>
        <p>
          Economic Development – State and local authorities increasingly need detailed local information about their economies to make informed decisions. The US Census Bureau’s Longitudinal Employer-Household Dynamics (LEHD) program produces new, cost effective, public-use information combining federal, state and Census Bureau data on employers and employees under the Local Employment Dynamics (LED) Partnership. 
        </p>
      </div>
    </div>

    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img"  src="/assets/img/icons/public-safety.png" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Public Safety</h3>
        <p>
          Public Safety – Emergency responders rely on up-to-date addresses for timely response. The Federal Geospatial Data Committee recognizes the need for a free, open, and up-to-date National Address Database (NAD) to serve these critical needs as well as a broad range of government services such as mail delivery, permitting, and school siting. Based on a minimum content approach, the Department of Transportation and the US Census Bureau’s NAD pilot collected and standardized addresses from 22 state partners.
        </p>
      </div>
    </div>

  </div>

  <div class="usa-grid usa-graphic_list-row">

    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img"  src="/assets/img/icons/national-security.png" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>National Security</h3>
        <p>
          National Security – Preventing and minimizing adverse effects of cyber attacks is imperative to national security in the 21st century. National Institute of Standards and Technology’s National Vulnerability Database and the Homeland Security Systems Engineering and Development Institute’s  Common Vulnerabilities and Exposure list enable automation of vulnerability management, security measurement, and compliance.
        </p>
      </div>
    </div>

    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img"  src="/assets/img/icons/health.png" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Health</h3>
        <p>
          Health – Local communities and health professionals reacting to the opioid crisis require timely data to assess impact and deliver effective interventions. The Department of Health and Human Services’ 5 Point Strategy to Combat the Opioids Crisis includes Point 2, Better Data--supporting more timely, specific public health data and reporting, and accelerating the Center for Disease Control’s reporting of drug overdose data.
        </p>
      </div>
    </div>

  </div>


  <div class="usa-grid usa-graphic_list-row">

    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img"  src="/assets/img/icons/education.png" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Education</h3>
        <p>
          Education – Students seek colleges that give them the best return on their investment. The College Scorecard provides up-to-date, comprehensive, and reliable information about college costs, student loan amounts, student ability to repay loans, and their expected earnings. 
        </p>
      </div>
    </div>

  </div>

</section>


  <section class="usa-section">
    <div class="usa-grid">

      {{ content }}

      <a class="usa-button usa-button-big" href="#">Submit a Use Case</a>

    </div>
  </section>

</main>

{% include footer.html %}
