{% include head.html %}

{% include header.html %}


<main id="main-content" class="overview-page">


 {{ content }} 

<div class="usa-grid">

<div class="usa-width-one-whole">
  
<div class="overview-mission">
  <h4>Mission</h4>
  The mission of the Federal Data Strategy is to fully leverage the value of federal data for mission, service, and the public good by guiding the Federal Government in practicing ethical governance, conscious design, and a learning culture. 
</div>


<ul class="usa-accordion-bordered usa-width-one-whole overview-principles">
  <li>
    <button class="usa-accordion-button overview-principles-head"
      aria-expanded="false"
      aria-controls="a-a0">
    <strong>Guiding Principles</strong>: Ethical Governance, Conscious Design, Learning Culture
    </button>
    <div id="a-a0" class="usa-accordion-content">

    <h5>Principles</h5>

    <h6>Ethical Governance</h6>
    <ol>
      <li>Uphold Ethics</li>
      <li>Exercise Responsibility</li>
      <li>Promote Transparency</li>
    </ol>

    <h6>Conscious Design</h6> 
    <ol start="4">
      <li>Ensure Relevance</li> 
      <li>Harness Existing Data</li>
      <li>Anticipate Future Uses</li> 
      <li>Demonstrate Responsiveness</li> 
    </ol>

    <h6>Learning Culture</h6>
    <ol start="8">
      <li>Invest in Learning</li>
      <li>Develop Data Leaders</li>
      <li>Practice Accountability</li>
    </ol>

    </div>
  </li>
</ul>


</div>

</div>

<div class="usa-grid">
  <div class="usa-width-one-third">

<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="a-a1">
      Building a Culture that Values Data and Promotes Public Use <br>
      <span style="font-weight : normal">Practices 1-10</span>
    </button>
    <div id="a-a1" class="usa-accordion-content">

      <ol>
        <li>Identify Data Needs to Answer Key Agency Questions</li>
        <li>Assess and Balance the Needs of Stakeholders</li>
        <li>Champion Data Use</li>
        <li>Use Data to Guide Decision-Making</li>
        <li>Prepare to Share</li>
        <li>Convey Insights from Data</li>
        <li>Increase Accountability of Federal Spending</li>
        <li>Monitor and Address Public Perceptions</li>
        <li>Connect Data Functions Across Agencies</li>
        <li>Provide Resources Explicitly to Leverage Data Asset</li>
      </ol>

    </div>
  </li>
</ul>
<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="a-a2">
      2020 Action Steps
    </button>
    <div id="a-a2" class="usa-accordion-content">


Action 1: Identify Data Needs to Answer Priority Agency Questions <br>
Action 4: Identify Opportunities to Increase Staff Data Skills <br>
Action 7: Launch a Federal Chief Data Officer Council <br>
Action 9: Improve Financial Management Data Standards <br>
Action 11: Develop a Repository of Federal Enterprise Data Resources <br>
Action 12: Create an OMB Federal Data Policy Committee <br>
Action 14: Develop a Data Ethics Framework


    </div>
  </li>
</ul>
</div>

<div class="usa-width-one-third">

<ul class="usa-accordion-bordered usa-width-one-third overview-governing-managing-protecting-head">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      Governing, Managing, and Protecting Data  <br>
      <span style="font-weight : normal">Practices 11-26</span>
    </button>
    <div id="b-a1" class="usa-accordion-content">

      <ol start="11">
        <li>Prioritize Data Governance</li>
        <li>Govern Data to Protect Confidentiality and Privacy</li>
        <li>Protect Data Integrity</li>
        <li>Convey Data Authenticity</li>
        <li>Assess Maturity</li>
        <li>Inventory Data Assets</li>
        <li> Recognize the Value of Data Assets </li>
        <li>Manage with a Long View</li>
        <li>Maintain Data Documentation</li>
        <li>Leverage Data Standards</li>
        <li>Align Agreements with Data Management Requirements</li>
        <li>Identify Opportunities to Overcome Resource Obstacles</li>
        <li>Allow Amendment</li>
        <li>Enhance Data Preservation</li>
        <li>Coordinate Federal Data Assets</li>
        <li>Share Data Between State, Local, and Tribal Governments and Federal Agencies</li>
      </ol>

    </div>
  </li>
</ul>
<ul class="usa-accordion-bordered usa-width-one-third overview-governing-managing-protecting-body">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2">
      2020 Action Steps
    </button>
    <div id="b-a2" class="usa-accordion-content">

Action 1: Identify Data Needs to Answer Priority Agency Questions <br>
Action 2: Constitute a Diverse Data Governance Body <br>
Action 3: Assess Data and Related Infrastructure Maturity <br>
Action 4: Identify Opportunities to Increase Staff Data Skills <br>
Action 5: Identify Priority Datasets for Agency Open Data Plans <br>
Action 6: Publish and Update Data Inventories <br>
Action 7: Launch a Federal Chief Data Officer Council <br>
Action 10: Integrate Geospatial Data Practices into the Federal Data Enterprise <br>
Action 11: Develop a Repository of Federal Enterprise Data Resources <br>
Action 12: Create an OMB Federal Data Policy Committee <br>
Action 14: Develop a Data Ethics Framework <br>
Action 15: Develop a Data Protection Toolkit <br>
Action 17: Pilot an Automated Tool for Information Collection Reviews That Supports Data Inventory Creation And Updates <br>
Action 18: Pilot Enhanced Data Management Tool for Federal Agencies <br>
Action 19: Develop Data Quality Measuring and Reporting Guidance <br>
Action 20: Develop a Data Standards Repository


    </div>
  </li>
</ul>

</div>

<div class="usa-width-one-third">

<ul class="usa-accordion-bordered usa-width-one-third overview-promoting-efficient-head">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="c-a1">
      Promoting Efficient and Appropriate Data Use  <br>
      <span style="font-weight : normal">Practices 27-40</span>
    </button>
    <div id="c-a1" class="usa-accordion-content">
      
      <ol start="27">
        <li>Increase Capacity for Data Management and Analysis</li>
        <li>Align Quality with Intended Use</li>
        <li>Design Data for Use and Re-Use</li>
        <li>Communicate Planned and Potential Uses of Data</li>
        <li>Explicitly Communicate Allowable Use</li>
        <li>Harness Safe Data Linkage </li>
        <li>Promote Wide Access</li>
        <li>Diversify Data Access Methods</li>
        <li>Review Data Releases for Disclosure Risk</li>
        <li>Leverage Partnerships</li>
        <li>Leverage Buying Power</li>
        <li>Leverage Collaborative Computing Platforms</li>
        <li>Support Federal Stakeholders</li>
        <li>Support Non-Federal Stakeholders</li>
      </ol>





    </div>
  </li>
</ul>
<ul class="usa-accordion-bordered usa-width-one-third overview-promoting-efficient-body">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="c-a2">
      2020 Action Steps
    </button>
    <div id="c-a2" class="usa-accordion-content">

Action 1: Identify Data Needs to Answer Priority Agency Questions <br>
Action 2: Constitute a Diverse Data Governance Body <br>
Action 4: Identify Opportunities to Increase Staff Data Skills <br>
Action 5: Identify Priority Datasets for Agency Open Data Plans <br>
Action 6: Publish and Update Data Inventories <br>
Action 8: Improve Data and Model Resources for AI Research and Development <br>
Action 10: Integrate Geospatial Data Practices into the Federal Data Enterprise <br>
Action 11: Develop a Repository of Federal Enterprise Data Resources <br>
Action 13: Develop a Curated Data Skills Catalog <br>
Action 14: Develop a Data Ethics Framework <br>
Action 15: Develop a Data Protection Toolkit <br>
Action 16: Pilot a One-stop Standard Research Application<br>
Action 19: Develop Data Quality Measuring and Reporting Guidance

    </div>
  </li>
</ul>

</div>


</div>

</main>

{% include footer.html %}
