{% include head.html %}

{% include header.html %}


<main id="main-content" class="overview-page">


 {{ content }} 

<div class="usa-grid">
  <div class="usa-width-one-third">

<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="a-a1">
      Building a Culture that Values Data and Promotes Public Use <br>
      <span style="font-weight : normal">Practices 1-10</span>
    </button>
    <div id="a-a1" class="usa-accordion-content">

      <ol>
        <li>Identify Data Needs to Answer Key Agency Questions</li>
        <li>Assess and Balance the Needs of Stakeholders</li>
        <li>Champion Data Use</li>
        <li>Use Data to Guide Decision-Making</li>
        <li>Prepare to Share</li>
        <li>Convey Insights from Data</li>
        <li>Increase Accountability of Federal Spending</li>
        <li>Monitor and Address Public Perceptions</li>
        <li>Connect Data Functions Across Agencies</li>
        <li>Provide Resources Explicitly to Leverage Data Asset</li>
      </ol>

    </div>
  </li>
</ul>
<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="a-a2">
      Year 1 Actions
    </button>
    <div id="a-a2" class="usa-accordion-content">

Action 5: Identify Priority Datasets for Agency Open Data Plans <br>
Action 9: Improve Financial Management Data Standards <br>
Action 14: Develop a Data Ethics Framework <br>
Action 15: Develop a Data Protection Toolkit


    </div>
  </li>
</ul>
</div>

<div class="usa-width-one-third">

<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a1">
      Governing, Managing, and Protecting Data  <br>
      <span style="font-weight : normal">Practices 11-26</span>
    </button>
    <div id="b-a1" class="usa-accordion-content">

      <ol>
        <li>Identify Data Needs to Answer Key Agency Questions</li>
        <li>Assess and Balance the Needs of Stakeholders</li>
        <li>Champion Data Use</li>
        <li>Use Data to Guide Decision-Making</li>
        <li>Prepare to Share</li>
        <li>Convey Insights from Data</li>
        <li>Increase Accountability of Federal Spending</li>
        <li>Monitor and Address Public Perceptions</li>
        <li>Connect Data Functions Across Agencies</li>
        <li>Provide Resources Explicitly to Leverage Data Asset</li>
      </ol>

    </div>
  </li>
</ul>
<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="b-a2">
      Year 1 Actions
    </button>
    <div id="b-a2" class="usa-accordion-content">


Action 5: Identify Priority Datasets for Agency Open Data Plans <br>
Action 9: Improve Financial Management Data Standards <br>
Action 14: Develop a Data Ethics Framework <br>
Action 15: Develop a Data Protection Toolkit

    </div>
  </li>
</ul>

</div>

<div class="usa-width-one-third">

<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="c-a1">
      Promoting Efficient and Appropriate Data Use  <br>
      <span style="font-weight : normal">Practices 27-39</span>
    </button>
    <div id="c-a1" class="usa-accordion-content">
      
      <ol>
        <li>Identify Data Needs to Answer Key Agency Questions</li>
        <li>Assess and Balance the Needs of Stakeholders</li>
        <li>Champion Data Use</li>
        <li>Use Data to Guide Decision-Making</li>
        <li>Prepare to Share</li>
        <li>Convey Insights from Data</li>
        <li>Increase Accountability of Federal Spending</li>
        <li>Monitor and Address Public Perceptions</li>
        <li>Connect Data Functions Across Agencies</li>
        <li>Provide Resources Explicitly to Leverage Data Asset</li>
      </ol>

    </div>
  </li>
</ul>
<ul class="usa-accordion-bordered usa-width-one-third">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="c-a2">
      Year 1 Actions
    </button>
    <div id="c-a2" class="usa-accordion-content">

Action 5: Identify Priority Datasets for Agency Open Data Plans <br>
Action 9: Improve Financial Management Data Standards <br>
Action 14: Develop a Data Ethics Framework <br>
Action 15: Develop a Data Protection Toolkit

    </div>
  </li>
</ul>

</div>


</div>

</main>

{% include footer.html %}
