---
layout: default
---

 <div class="usa-overlay"></div>

  <main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">

    <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
      <ul class="usa-sidenav-list">
        <li>
          <a class="usa-current" href="">Welcome</a>
        </li>
        <li>
            <a href="">More</a>
        </li>
      </ul>
    </aside>

    <div class="usa-width-three-fourths usa-layout-docs-main_content">
        <h2>{{ page.title | escape }}</h2>
        {{ content }}
    </div>

</main>
