---
layout: default
---

 <div class="usa-overlay"></div>

  <main class="usa-grid usa-section page-{{ page.title | downcase }}" id="main-content">

	<h2>2020 Action Plan Progress</h2>

	<p>The Federal Data Strategy provides a common set of data <a href="{{ site.baseurl }}/principles/">principles</a> and best <a href="{{ site.baseurl }}/practices/">practices</a>. The <a href="{{ site.baseurl }}/action-plan/">2020 Action Plan</a> identifies milestones that are essential for establishing processes, building capacity, and aligning existing efforts. This initial plan builds a solid foundation that will support implementation of the strategy over the next decade. This page will showcase progress, measurements, and metrics collected and reported on 65 milestones from 20 actions. We will track progress on the 2020 Action Plan milestones continuously throughout the year. As milestones are completed, information will be uploaded to this page. Once this page is fully operational, you will be able to check agency activity on every milestone.</p>
	  
	<p>This page was last updated on October 26, 2020. If your agency's progress since that day is not reflected in the information below, please send an email to the Federal Data Strategy team at <a href="mailto:datastrategy@omb.eop.gov">datastrategy@omb.eop.gov</a>.</p>

	<p><em><a href="https://public.govdelivery.com/accounts/USGSA/subscribers/new?topic_id=USGSA_756">Sign up for our newsletter to get updates!</a></em></p>
	  
	<div style="width: 100%; background-color: lightgray; border: thin solid;">
		<p>&ndash;&ndash;Dashboard may not load for some users. We are working to resolve this issue.</p>
	</div>
	  
	<iframe src="https://d2d.gsa.gov/tableau-report-for-embed/8898?:render=false" id="progress-chart-supplementary-info" frameborder="0" style="height:1130px;width:1050px;"></iframe>

	  
	<p><a href="#milestone-q1">Jump to Quarter 1, 2020 (January &ndash; March) Milestones</a><br>
		<a href="#milestone-q2">Jump to Quarter 2, 2020 (April &ndash; June) Milestones</a><br>
		<a href="#milestone-q3">Jump to Quarter 3, 2020 (July &ndash; September) Milestones</a><br>
		<a href="#milestone-recurring">Jump to Recurring Milestones</a></p>
	  
	<h3 class="milestone-quarter-heading" id="milestone-q1">Quarter 1, 2020 (January &ndash; March)</h3>

	<div id="action-2-1" class="usa-grid milestone-progress-row milestone-current status-partial-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li class="status-checkmark"><a href="{{ site.baseurl }}/action-plan/#action-2-constitute-a-diverse-data-governance-body">Milestone 2.1</a>. <strong>By January 31, 2020</strong>, publish agency data governance materials (membership, charter, meeting cadence) on [agency].gov/data web page.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text">partially <strong>COMPLETED</strong></span>. The number of agencies<sup><a href="#fn:1">1</a></sup> that published is:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					33 ➧
				</div>
				<div class="milestone-status-metric-details">
					(Click <a href="#milestone-2-1-supplemental">here</a> to learn more about these 33 agencies including use cases and to download data (csv). This number will be updated regularly.)   
				</div>
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Based on capacity assessments, agencies will dedicate staff to support data governance bodies by September 30, 2020.<sup><a href="#fn:2">2</a></sup></li>
			</ul>
		</div>
	  </div>

	<div id="action-7-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li class="status-checkmark"><a href="{{ site.baseurl }}/action-plan/#action-7-launch-a-federal-chief-data-officer-council">Milestone 7.1</a>. <strong>By January 31, 2020</strong>, launch the Federal CDO Council.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>.  OMB launched the Federal CDO Council on January 31, 2020.  The number of Chief Data Officers and their representatives gathered was:<sup><a href="#fn:3">3</a></sup>
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					65 ➧
				</div>
				<div class="milestone-status-metric-details">
					(Click <a href="{{ site.baseurl }}/news/2020/01/31/federal-chief-data-officers-council-holds-inaugural-meeting/ ">here</a> to learn more about the CDO Council meeting.) 
				</div>
			</div>
			<ul class="milestone-status-next">
				<li>Next step: The CDO Council will continue to meet to develop a governance framework, define priorities, and create subcommittees to work on specific areas of interest.</li>
			</ul>
		</div>
	</div>

	<div id="action-12-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">			
			<li class="status-checkmark"><a href="{{ site.baseurl }}/action-plan/#action-12-create-omb-federal-data-policy-committee">Milestone 12.1</a>. <strong>By January 31, 2020</strong>, launch the OMB Federal Data Policy Committee.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. OMB has launched the Federal Data Policy Committee (FDPC). It has met monthly since November 2019. 
			</div>
			<ul class="milestone-status-next">
				<li>Next step: The FDPC will use briefings to assist in setting priorities for this year. </li>
			</ul>
		</div>
	</div>

	<div id="action-8-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li class="status-checkmark"><a href="{{ site.baseurl }}/action-plan/#action-8-improve-data-and-model-resources-for-ai-research-and-development">Milestone 8.1</a>. <strong>By February 29, 2020</strong>, identify barriers to access and quality limitations.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. OMB published a <a href="https://www.regulations.gov/document?D=OMB-2019-0003-0001">Request for Information: Identifying Priority Access or Quality Improvements for Federal Data and Models for Artificial Intelligence Research and Development, and Testing</a> on August 22, 2019. The RFI received 28 comments. The ability to preserve a respondent’s privacy was the largest barrier identified and there were also many comments requesting more high quality and curated open data, including requests for data cleaning, normalized fields, and metadata improvements that would facilitate fitness for use and provenance tracking.  
			</div>
			<ul class="milestone-status-next">
				<li>Next Step: For additional information on the American AI Initiative, see <a href="https://AI.gov">AI.gov</a> and the <a href="https://www.whitehouse.gov/wp-content/uploads/2020/02/American-AI-Initiative-One-Year-Annual-Report.pdf">American Artificial Intelligence Initiative: Year One Annual Report.</a></li>
			</ul>
		</div>
	</div>

	<div id="action-13-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li class="status-checkmark"><a href="{{ site.baseurl }}/action-plan/#action-13-develop-a-curated-data-skills-catalog">Milestone 13.1</a>. <strong>By February 29, 2020</strong>, share draft catalog contents with CDOs and other stakeholders.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. OMB distributed the goals for the framework to several representatives of the Chief Data Officer (CDO) Council, the Interagency Council on Statistical Policy (ICSP), and the Chief Human Capital Officers (CHCO) Council for initial review. The framework will provide structure for the living content of the data skills catalog.  
			</div>
			<ul class="milestone-status-next">
				<li>Next step: The CDOs, ICSP, CHCOs, and GSA along with OMB will review and discuss the framework goals over the next few weeks and make updates. </li>
			</ul>
		</div>
	</div>	

	<div id="action-12-2" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-12-create-omb-federal-data-policy-committee">Milestone 12.2</a>. <strong>By March 31, 2020</strong>, set priorities for 2020 (FDPC).</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. The OMB Federal Data Policy Committee has set priorities by membership endorsement.  
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Update, streamline, or rescind a data policy-related memorandum or circular.</li>
			</ul>
		</div>
	</div>		

	<div id="action-16-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-16-pilot-a-one-stop-standard-research-application">Milestone 16.1</a>. <strong>By March 31, 2020</strong>, create pilot portal for a one-stop standard research application.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. The Census Bureau, with the Interagency Council on Statistical Policy, piloted the ‘ResearchDataGov’ portal, acquiring it as a service provided by the University of Michigan. Federal Statistical Research Data Centers, in conjunction with the Census Bureau, are directing researchers to the site for requesting access to restricted data from participating agencies<sup><a href="#fn:5">5</a></sup>.  
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Recruit users to try the portal and give feedback.</li>
			</ul>
		</div>
	</div>	

	<div id="action-18-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-18-pilot-enhanced-data-management-tool-for-federal-agencies">Milestone 18.1</a>. <strong>By March 31, 2020</strong>, demonstrate pilot and initial feature set with a pilot agency.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. GSA demonstrated a pilot and initial feature set to interested agencies. Data.gov currently facilitates a metadata management tool at <a href="https://resources.data.gov/tools/inventory-data-gov-guide/">inventory.data.gov</a>, which 18 agencies use. After initial feature presentation, user interviews, and a survey, 25 agency data practitioners expressed interest in an advanced tool expanding upon <a href="https://resources.data.gov/tools/inventory-data-gov-guide/">inventory.data.gov</a>. Follow-up user testing will be conducted in April 2020 to define specific capabilities of metadata management tool for agency use.
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Complete user testing.</li>
			</ul>
		</div>
	</div>	

	<div  id="action-18-2" class="usa-grid milestone-progress-row milestone-current status-partial-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-18-pilot-enhanced-data-management-tool-for-federal-agencies">Milestone 18.2</a>. <strong>By March 31, 2020</strong>, Infrastructure/security roadmap for production platform.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text">partially <strong>COMPLETED</strong></span>. GSA has an ongoing infrastructure/security roadmap for a new Authority to Operate for <a href="https://www.data.gov/">data.gov</a> in preparation for the current ATO’s expiration in 2021. Work has begun on the new System Security Plan. The metadata management tool being developed will leverage <a href="https://www.data.gov/">data.gov</a>’s ATO.
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Continue developing the metadata management tool and incorporate security accreditation plans that leverage <a href="https://www.data.gov/">data.gov</a>'s ongoing ATO work.</li>
			</ul>
		</div>
	</div>	

	<h3 class="milestone-quarter-heading" id="milestone-q2">Quarter 2, 2020 (April &ndash; June)</h3>
		
	<div id="action-16-2" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-16-pilot-a-one-stop-standard-research-application">Milestone 16.2</a>. <strong>By April 30, 2020</strong>, recruit users to try the portal and give feedback.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. The Federal Statistical Research Data Center program, under the direction of the Interagency Council on Statistical Policy, piloted the <a href="https://www.icpsr.umich.edu/web/pages/appfed/index.html">One-stop Standard Research Application portal</a>. Since its inception, well over 1,000 users have engaged. User feedback is ongoing as planning shifts to the next phase of implementation.
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Publish a report describing project success and feedback that will inform future improvements.</li>
			</ul>
		</div>
	</div>

	<div id="action-13-2" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-13-develop-a-curated-data-skills-catalog">Milestone 13.2</a>. <strong>By June 30, 2020</strong>, collect input and make revisions (data skills catalog).</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. The Federal Data Strategy team developing the data skills catalogue has collected input from five stakeholder engagement activities with these stakeholder groups: Chief Data Officer Council, Interagency Council on Statistical Policy, Chief Learning Officer Council, and Chief Human Capital Officer Council. The team made approximately 30 improvements/changes based on comments received from 12 federal agencies.
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Publish the catalogue on <a href="https://resources.data.gov/">resources.data.gov</a>.</li>
			</ul>
		</div>
	</div>

	<div id="action-14-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-14-develop-a-data-ethics-framework">Milestone 14.1</a>. <strong>By June 30, 2020</strong>, initial examination of ethical issues encountered across data life cycle.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. GSA, working with the Interagency Council on Statistical Policy and Chief Data Officer Council, has successfully completed initial examination of ethical issues likely to be encountered across the data lifecycle.
			</div>
			<ul class="milestone-status-next">
				<li>Next step: GSA will circulate the federal data ethics framework initial draft for expert and stakeholder feedback.</li>
			</ul>
		</div>
	</div>
	  
	<div id="action-18-3" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-18-pilot-enhanced-data-management-tool-for-federal-agencies">Milestone 18.3</a>. <strong>By June 30, 2020</strong>, achieve interoperability with continually updated Federal open data metadata schema.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. GSA ensured that all necessary interoperability has been completed, consistent with the current Federal Open Data schema.
			</div>
		</div>
	</div>

	<div id="action-18-4" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-18-pilot-enhanced-data-management-tool-for-federal-agencies">Milestone 18.4</a>. <strong>By June 30, 2020</strong>, develop business plan and cost model.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. GSA developed a business plan and cost model, and uploaded them to <a href="https://resources.data.gov/">resources.data.gov</a>.
			</div>
			<ul class="milestone-status-next">
				<li>Next step: Onboard agency customers.</li>
			</ul>
		</div>
	</div>
		
	<h3 class="milestone-quarter-heading" id="milestone-q3">Quarter 3, 2020 (July &ndash; September)</h3>
	
	<div id="action-3-1" class="usa-grid milestone-progress-row milestone-current status-partial-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-3-assess-data-and-related-infrastructure-maturity">Milestone 3.1</a>. <strong>By July 31, 2020</strong>, select an operational maturity assessment model for data and data infrastructure.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of July 31, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					24 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have selected an operational maturity assessment model for data and data infrastructure.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-4-1" class="usa-grid milestone-progress-row milestone-current status-partial-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-4-identify-opportunities-to-increase-staff-data-skills">Milestone 4.1</a>. <strong>By July 31, 2020</strong>, perform an assessment of current staff data literacy and data skills.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of July 31, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					9 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have performed an assessment of current staff data literacy data skills.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-17-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-17-pilot-an-automated-tool-for-information-collection-reviews-that-supports-data-inventory-creation-and-updates">Milestone 17.1</a>. <strong>By July 31, 2020</strong>, develop pilot tool (automated tool for information collection reviews that support data inventory creation and updates).</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
			This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. NCES has completed the development of a pilot tool that supports automated Information Collection Reviews as well as the identification and export of data elements required for a data inventory. The team will be testing the tool with at least two agencies to meet their next milestone by the end of the calendar year.
			</div>
		</div>
	</div>
	
	<div id="action-1-1" class="usa-grid milestone-progress-row milestone-current">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-1-identify-data-needs-to-answer-priority-agency-questions">Milestone 1.1</a>. <strong>By September 30, 2020</strong>, consult with key agency leaders, such as Chief Data Officers, Evaluation Officers and Statistical Officials to identify data needed to answer priority agency questions.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					17 ➧
				</div>
				<div class="milestone-status-metric-details">
					CFO-Act agencies have consulted with key agency leaders, such as Chief Data Officers, Evaluation Officers and Statistical Officers to identify data needed to answer priority agency questions.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-1-2" class="usa-grid milestone-progress-row milestone-current">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-1-identify-data-needs-to-answer-priority-agency-questions">Milestone 1.2</a>. <strong>By September 30, 2020</strong>, identify data needs for answering priority questions in the interim learning agenda.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					16 ➧
				</div>
				<div class="milestone-status-metric-details">
					CFO-Act agencies identified data needs for answering priority questions in the interim learning agenda. Three  CFO- Act Agencies are in Progress.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-1-3" class="usa-grid milestone-progress-row milestone-current">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-1-identify-data-needs-to-answer-priority-agency-questions">Milestone 1.3</a>. <strong>By September 30, 2020</strong>, develop a plan to engage the stakeholders needed to access or acquire the data needed to answer priority questions.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					2 ➧
				</div>
				<div class="milestone-status-metric-details">
					CFO-Act agencies identified data needs for answering priority questions in the interim learning agenda. Two CFO-Act agencies are in progress. OMB review of this milestone is currently ongoing.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-2-3" class="usa-grid milestone-progress-row milestone-current">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-2-constitute-a-diverse-data-governance-body">Milestone 2.3</a>. <strong>By September 30, 2020</strong>, document how the DGB receives its authority.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					36 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have documented how their DGB receives its authority.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-3-2" class="usa-grid milestone-progress-row milestone-current">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-3-assess-data-and-related-infrastructure-maturity">Milestone 3.2</a>. <strong>By September 30, 2020</strong>, agency Chief Data Officer and other senior-level staff participate in any training or technical assistance related to maturity assessments.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					32 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have participated in trainings related to maturity assessments. An average of 17 agency staff (including agency Chief Data Officer and other senior-level staff) have participated in such trainings.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-3-3" class="usa-grid milestone-progress-row milestone-current">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-3-assess-data-and-related-infrastructure-maturity">Milestone 3.3</a>. <strong>By September 30, 2020</strong>, conduct and document the outcome of the initial data maturity assessment.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					20 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have conducted and documented the outcome of their initial data maturity assessment.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-4-2" class="usa-grid milestone-progress-row milestone-future">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-4-identify-opportunities-to-increase-staff-data-skills">Milestone 4.2</a>. <strong>By September 30, 2020</strong>, conduct a gap analysis between the current staff’s skills and the skills the agency requires.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>partially COMPLETED</strong></span>. As of September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					5 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have conducted a gap analysis between current staff’s skills and the skills the agency requires.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-9-3" class="usa-grid milestone-progress-row milestone-current">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-9-improve-financial-management-data-standards">Milestone 9.3</a>. <strong>By September 30, 2020</strong>, promote public trust in the stewardship of taxpayer dollars.</li>
			<li>Due to government-wide focus on COVID-19 response activities, this milestone has been delayed.</li>
		</ul>
	</div>
	  
	<div id="action-9-4" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-9-improve-financial-management-data-standards">Milestone 9.4</a>. <strong>By September 30, 2020</strong>, develop an IT spending transparency maturity assessment model.</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. An IT spending transparency maturity assessment model has been developed. Note: This activity and milestone have been transferred to the 2020 Action Plan from the “<a href="https://www.performance.gov/CAP/tbm/">Improving Outcomes Through Federal IT Spending Transparency</a>” CAP Goal team.
			</div>
		</div>
	</div>
	
	<div id="action-18-5" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-18-pilot-enhanced-data-management-tool-for-federal-agencies">Milestone 18.5</a>. <strong>By September 30, 2020</strong>, onboard agency customers (pilot enhanced data management tool for federal agencies).</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>.
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					30 ➧
				</div>
				<div class="milestone-status-metric-details">
					agency customers have been onboarded for a pilot enhanced data management tool for federal agencies.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-19-1" class="usa-grid milestone-progress-row milestone-current status-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-19-develop-data-quality-measuring-and-reporting-guidance">Milestone 19.1</a>. <strong>By September 30, 2020</strong>, completion of report on best practices for reporting on output quality (develop data quality measuring and reporting guidance).</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text"><strong>COMPLETED</strong></span>. The report on best practices for reporting on output quality (from developing data quality measuring and reporting guidance) has been completed. Access the report at: <a href="https://resources.data.gov/">resources.data.gov</a>.
			</div>
		</div>
	</div>
	  
	<h3 class="milestone-quarter-heading" id="milestone-recurring">Recurring</h3>
	  
	<div id="action-2-4" class="usa-grid milestone-progress-row milestone-current status-partial-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li class="status-checkmark"><a href="{{ site.baseurl }}/action-plan/#action-2-constitute-a-diverse-data-governance-body">Milestone 2.4 / 2.5 / 2.6</a>.
				<ul>
					<li>Put in place a data strategy or road map</li>
					<li>Develop a plan for capital planning for enterprise data assets and infrastructure</li>
					<li>Adopt a master data management program</li>
				</ul>
			</li>
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				These milestone have been <span class="status-text">partially <strong>COMPLETED</strong></span>. Between January 1 and September 30, 2020:
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					8 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have put a data strategy or road map in place.   
				</div>
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					5 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have developed a plan for capital planning for enterprise data assets and infrastructure.   
				</div>
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					5 ➧
				</div>
				<div class="milestone-status-metric-details">
					agencies have adopted a master data management program.   
				</div>
			</div>
		</div>
	</div>
	
	<div id="action-6-1" class="usa-grid milestone-progress-row milestone-current status-partial-complete">
		<ul class="usa-width-one-third milestone-meta">
			<li><a href="{{ site.baseurl }}/action-plan/#action-6-publish-and-update-data-inventories">Milestone 6.1</a>. <strong>Minimally every 3 months, as often as possible</strong>, update comprehensive data inventories for overall completeness and priority data asset sprints.</li>			
		</ul>
		<div class="usa-width-two-thirds milestone-status">
			<div class="milestone-status-classification">
				This milestone has been <span class="status-text">partially <strong>COMPLETED</strong></span>. Thirty-one agencies published a total of 332,434 datasets in comprehensive data inventories between January 1 and September 30, 2020.
			</div>
			<div class="milestone-status-metric">
				<div class="milestone-status-metric-number">
					31 ➧
				</div>
				<div class="milestone-status-metric-details">
					Learn more at: <a href="https://labs.data.gov/dashboard/">labs.data.gov/dashboard</a>
				</div>
			</div>
		</div>
	</div>

	<p>As milestones are completed, information will be uploaded to this page.<br>
	<a href="https://public.govdelivery.com/accounts/USGSA/subscribers/new?topic_id=USGSA_756">Sign up for our newsletter to get updates!</a></p>
	
	  
	  <p><a href="#main-content">Return to top</a></p>

		
<h1>Supplemental Milestone Data &amp; Examples</h1>

<h2 id="milestone-2-1-supplemental">Federal Data Strategy Action Plan, Action 2: Constitute a Diverse Governance Body (DGB)</h2>
<p><a href="{{ site.baseurl }}/action-plan/#action-2-constitute-a-diverse-data-governance-body">Milestone 2.1</a>. <strong>By January 31, 2020</strong>, publish agency data governance materials (membership, charter, meeting cadence) on [agency].gov/data web page.</p>
<h3 class="supplemental-info">These three agency websites are useful examples that can guide development of your agency’s data webpage.</h3>
<ol>
	<li><a href="https://www.ssa.gov/data/">https://www.ssa.gov/data/</a></li>
	<li><a href="https://www.doi.gov/data">https://www.doi.gov/data</a></li>
	<li><a href="https://www.ed.gov/data">https://www.ed.gov/data</a></li>
</ol>
<h3 class="supplemental-info">Milestone 2.1: Publish agency data governance materials on web page</h3>
<div class="datatable" data-source="{{ site.baseurl }}/assets/data/FDS-2020-Milestone-2-1-v09042020.csv" id="datatable_1"></div>
<p>*Milestone 2.1 is required for all agencies. This table reports agency-level details for all CFO Act Agencies and summarizes the count of non-CFO Act agencies to complete this milestone.</p>

	
<h2 id="milestone-3-1-supplemental">Federal Data Strategy Action Plan, Action 3: Assess Data and Related Infrastructure Maturity</h2>
<p><a href="{{ site.baseurl }}/action-plan/#action-3-assess-data-and-related-infrastructure-maturity">Milestone 3.1</a>. <strong>By September 30, 2020</strong>, select an operational maturity assessment model for data and data infrastructure.</p>
<h3 class="supplemental-info">Milestone 3.1: Select an operational maturity assessment model for data and data infrastructure</h3>
<div class="datatable" data-source="{{ site.baseurl }}/assets/data/FDS-2020-Milestone-3-1-v10262020.csv" id="datatable_2"></div>
<p>*Milestone 3.1 is required for all agencies. This table reports agency-level details for all CFO Act Agencies and summarizes the count of non-CFO Act agencies to complete this milestone.</p>
	
	
<h2 id="milestone-4-1-supplemental">Federal Data Strategy Action Plan, Action 4: Identify Opportunities to Increase Staff Data Skills</h2>
<p><a href="{{ site.baseurl }}/action-plan/#action-4-identify-opportunities-to-increase-staff-data-skills">Milestone 4.1</a>. <strong>By September 30, 2020</strong>, perform an assessment of current staff data literacy and data skills.</p>
<h3 class="supplemental-info">Milestone 4.1: Perform an assessment of current staff data literacy and data skills</h3>
<div class="datatable" data-source="{{ site.baseurl }}/assets/data/FDS-2020-Milestone-4-1-v10062020.csv" id="datatable_3"></div>
<p>*Milestone 4.1 is required for CFO Act Agencies only and encouraged for all agencies. This table reports agency-level details only for required agencies.</p>  
  
<p><a href="#main-content">Return to top</a></p>
	
	  
	<h4 class="footnotes" id="footnotes">Footnotes</h4>
	<div class="footnotes">
		<ol>
			<li id="fn:1">
				<p>The universe is those agencies that reported designated CDOs to OMB.</p>
			</li>
			<li id="fn:2">
				<p>Milestone 2.4. Put in place a data strategy or road map; Milestone 2.5. Develop capital planning for enterprise data assets and infrastructure; Milestone 2.6. Adopt a master data management program (One of these three activities per quarter in any order).</p>
			</li>
			<li id="fn:3">
				<p>The universe is those agencies that reported designated CDOs to OMB.</p>
			</li>
			<li id="fn:4">
				<p>The count of agencies with comprehensive data inventories reflects information reported on the <a href="https://labs.data.gov/dashboard/offices/qa">Project Open Data Dashboard</a>.</p>
			</li>
			<li id="fn:5">
				<p>The participating agencies are: Bureau of Economic Analysis, Bureau of Labor Statistics, Census Bureau, National Center for Health Statistics, National Center for Science and Engineering Statistics, Agency for Healthcare Research and Quality.</p>
			</li>
		</ol>
	</div>
	  
  </main>

  <script type="text/javascript">

  $(document).ready( function () {
       $.each($('.datatable'), function () {
          var dt_id = $(this).attr('id');
          var dt_csv = $(this).data('source');

          CsvToHtmlTable.init({           
            csv_path: dt_csv,
            element: dt_id,
            allow_download: true,
            csv_options: {separator: ',', delimiter: '"'},
            datatables_options: {
              "info": false,
              "paging": false,
              "searching": false,
            },
          });

      })
  });


</script>
