{% include head.html %}

{% include header.html %}


<main id="main-content">
  <section class="usa-hero {{ page.slug }}">
    <div class="usa-grid">
      
    </div>
  </section>


  
  <section class="usa-grid usa-section">
    <div class="usa-width-one-third">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="usa-width-two-thirds">
      <p>
        The success of this project will depend on your input ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>

    </div>
  </section>
  

  <section class="usa-section usa-section-dark usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img"  src="/assets/uswds/img/circle-124.png" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Section Header</h3>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequa n ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <img class="usa-media_block-img"  src="/assets/uswds/img/circle-124.png" alt="Alt text">
      <div class="usa-media_block-body">
        <h3>Section Header</h3>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequa n ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>


  <section class="usa-section">
    <div class="usa-grid">
      <h2>Section heading</h2>
      <p class="usa-font-lead">Everything up to this point should help people understand your agency or project: who you are, your goal or mission, and how you approach it. Use this section to encourage them to act. Describe why they should get in touch here, and use an active verb on the button below. “Get in touch,” “Learn more,” and so on.</p>
      <a class="usa-button usa-button-big" href="#">Call to action</a>
    </div>
  </section>

</main>

{% include footer.html %}
