{% include head.html %}

{% include header.html %}


<main id="main-content">
  <section class="usa-hero timeline">
    <div class="usa-grid">

    </div>
  </section>



  <section class="usa-grid usa-section">
    <div class="usa-width-one-third">
      <h2>Developing the Federal Data Strategy
</h2>
    </div>
    <div class="usa-width-two-thirds">
      <p>
        The Federal Data Strategy will be developed iteratively in four steps, and after each step we will make the findings public and ask for your feedback and input.
      </p>

    </div>
  </section>

  <section class="usa-section">
    <div class="usa-grid">
      <h2>How will the Federal Data Strategy be developed?</h2>
      <p>
        The strategy will be developed around four topical areas. The Federal Data Strategy development team will pull together a comprehensive strategy from the input and insights contributed by stakeholders. Between now and April 2019, the Federal Data Strategy development team will be seeking and synthesizing inputs and developing solutions through an iterative process. Each quarter, we will publish new draft materials for review and feedback. Stay tuned to <a href="https://strategy.data.gov">strategy.data.gov</a> to keep up to date and ensure we hear from you.
      </p>

      <h2>What are the Principles?</h2>
      <p>
        The Federal Data Strategy needs to be informed by Principles that encompass the breadth of data the federal government acquires, creates, uses, and disseminates for programmatic, statistical, and mission-support purposes. The following principles are based on concepts reflected in existing principles, such as those for the protection of personal information, for federal statistical agencies, and for federal evidence-building. These Draft Principles will be refined base on stakeholder feedback, and  publish the final Principles in September 2018. The final Principles will guide the development of practices and implementation steps for the Federal Data Strategy.
      </p>
    </div>
  </section>


  <section class="usa-section usa-section-dark usa-graphic_list">
  <div class="usa-grid">

    <h2 class="areas-heading">Draft Federal Data Strategy Principles</h2>

    <h3>Stewardship</h3>
    <p>
      1.  Exercise Responsibility: Practice effective data stewardship and governance by maintaining modern data security practices, protecting individual privacy, and maintaining promised confidentiality.
    </p>
    <p>
      2.  Uphold Ethics: Consider, monitor, and assess the implications of federal data practices for the public and provide sufficient checks and balances to protect and serve the public interest.
    </p>
    <p>
      3.  Promote Transparency: Articulate purposes for acquiring, using, and disseminating data and comprehensively document processes and products to inform data users.
    </p>

    <h3>Quality</h3>
    <p>
      4.  Integrate Intentionality: Create, acquire, use, and disseminate data deliberately and thoughtfully, considering quality, consistency, privacy, value, reuse, and interoperability from the start.
    </p>

    <p>
      5.  Ensure Relevance: Validate that data are high quality, useful, understandable, timely, and needed.
    </p>

    <p>
      6.  Create Value: Coordinate and prioritize data needs and uses, harness data from multiple sources, and    acquire new data only when necessary.
    </p>

    <h3>Continuous Improvement</h3>
    <p>
      7.  Demonstrate Responsiveness: Improve data sharing and access with ongoing input from users and other     stakeholders.
    </p>

    <p>
      8.  Prioritize Best Practices: Model, assess, and continuously update best practices throughout the data    lifecycle.
    </p>

    <p>
      9.  Invest in Learning: Promote a culture of continuous and collaborative learning with data and about data   .
    </p>

    <p>
      10. Practice Accountability: Audit data practices, document and learn from results, and make changes as needed based on findings.
    </p>

    <a id="draft-principles" class="usa-button usa-button-big fba-button" href="#">Submit Comments on Draft Principles</a>

  </div>
</section>


  <section class="usa-section">
    <div class="usa-grid">

      {{ content }}

      <a id="best-practices" class="usa-button usa-button-big fba-button" href="#">Submit a Best Practice</a>

    </div>
  </section>

</main>

{% include footer.html %}
