{% include head.html %}

{% include header.html %}


<main id="main-content">
  <section class="usa-hero {{ page.slug }}">
    <div class="usa-grid">
      
    </div>
  </section>


  
  <section class="usa-grid usa-section">
    <div class="usa-width-one-third">
      <h2>Developing the Federal Data Strategy
</h2>
    </div>
    <div class="usa-width-two-thirds">
      <p>
        The Federal Data Strategy will be developed iteratively and with your help. To get us started, we need your feedback on what Principles should lead our strategy and best practices you have seen demonstrated to date. 

      </p>

    </div>
  </section>
  
  <section class="usa-section">
    <div class="usa-grid">
      <h2>How will the Federal Data Strategy be developed?</h2>
      <p>
        The strategy will be developed around four areas, each of which is led by a team of Federal Data Fellows [do we want to develop a page regarding the fellowship program?]. These Fellows are on the front lines, pulling together the input and insights from everyone who contributes into a comprehensive strategy. Between now and April 2019, the Data Fellows will be seeking and synthesizing inputs and development solutions through an iterative process. Each quarter, we’ll publish new draft materials for public review and input. Stay tuned to strategy.data.gov to keep up to date and ensure we hear from you.
      </p>

      <h2>What are Principles?</h2>
      <p>
        The Federal Data Strategy needs to be based on broad principles that encompasses the breadth of data the Federal Government acquires, uses, and disseminates for program, statistical, and mission-support purposes. We’ve drafted the following principles based on concepts reflected in existing principles, such as those for the protection of personal information, for federal statistical agencies, and for federal evidence building. Based on public input on these draft principles, we’ll revise them and release final principles in September 2018.  The principles will inform the development of practices and action steps for the Federal Data Strategy throughout the data lifecycle.
      </p>
    </div>
  </section>


  <section class="usa-section usa-section-dark usa-graphic_list">
  <div class="usa-grid">

    <h2>Draft Federal Data Strategy Principles</h2>

    <h3>Stewardship</h3>
    <p>
      1.  Exercise Responsibility: Practice effective data stewardship and governance by maintaining modern data security practices, protecting individual privacy, and maintaining promised confidentiality.
    </p>
    <p>
      2.  Uphold Ethics: Consider, monitor, and assess the implications of federal data practices for the public and provide sufficient checks and balances to protect and serve the public interest. 
    </p>
    <p>
      3.  Promote Transparency: Articulate purposes for acquiring, using, and disseminating data and comprehensively document processes and products to inform data users.
    </p>

    <h3>Quality</h3>
    <p>
      4.  Integrate Intentionality: Create, acquire, use, and disseminate data deliberately and thoughtfully, considering quality, consistency, privacy, value, reuse, and interoperability from the start. 
    </p>

    <p>
      5.  Ensure Relevance: Validate that data are high quality, useful, understandable, timely, and needed.
    </p>

    <p>
      6.  Create Value: Coordinate and prioritize data needs and uses, harness data from multiple sources, and    acquire new data only when necessary.
    </p>

    <h3>Continuous Improvement</h3>
    <p>
      7.  Demonstrate Responsiveness: Improve data sharing and access with ongoing input from users and other     stakeholders.
    </p>

    <p>
      8.  Prioritize Best Practices: Model, assess, and continuously update best practices throughout the data    lifecycle.
    </p>

    <p>
      9.  Invest in Learning: Promote a culture of continuous and collaborative learning with data and about data   .
    </p>

    <p>
      10. Practice Accountability: Audit data practices, document and learn from results, and make changes as needed based on findings.
    </p>



  </div>
</section>


  <section class="usa-section">
    <div class="usa-grid">

      {{ content }}

      <a class="usa-button usa-button-big" href="#">Submit a Comments on Draft Principles</a>
      <a class="usa-button usa-button-big" href="#">Submit a Best Practice</a>

    </div>
  </section>

</main>

{% include footer.html %}
